<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="selectDataAll" resultType="vo.BoardVO" parameterType="hashmap">
		SELECT idx, board_title, board_contents, board_writer, board_hits FROM board limit #{pagingStart}, #{pagingList}
	</select> 
	
	<select id="selectOne" resultType="vo.BoardVO" parameterType="String">
		SELECT idx, board_title, board_contents, board_writer, board_hits FROM board WHERE idx=#{idx}
	</select>
	
	<update id="detailHitsUpdate" parameterType="String">
		UPDATE board SET board_hits = board_hits+1 WHERE idx=#{idx}
	</update>
	
	<select id="selectCount" resultType="int">
		SELECT count(*) as page_count FROM board;
	</select>
	
	<insert id="boardInsert" parameterType="String">
		INSERT INTO board(board_title, board_contents, board_writer, reg_id, mod_id) values(#{board_title}, #{board_contents}, #{board_writer}, #{board_writer}, #{board_writer})
	</insert>
</mapper>